body{
    width: 100vw;
    height:100vh;
    margin: 0;
    font-family: Roboto;
    display: grid;
    grid-template-columns:0.5fr 4fr;
    grid-template-rows:auto 4fr;;
    grid-template-areas: "nav header"
    "nav main";
}  
header{
    grid-area: header;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.23);
    position: relative;
    background-color: white;
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows:auto 1fr;
}
.searchcont{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.profilecont,.buttoncont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.welcomecont{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
nav{
    grid-area: nav;
    background-color: rgb(5, 167, 216);
    color: white;
}
main{
    grid-area: main;
    background-color: #E2E8F0;

    display: flex;
    justify-content: space-around;
    
}
.iconimg{
    width: 25px;
    height: 25px;
}
.profileimg{
    width: 55px;
    height: 55px;
}
ul>li{
    list-style: none;
    display: table;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
}

#mdiv1,#mdiv2{
    width: 50%;
}
h1{
    width: 100%;
    margin-left: 15px;
    font-size: 40px;
}
ul:last-of-type{
    margin-top: 100px;
}
input{
    border-radius: 10px;
    border:none;
    background-color: #E2E8F0;
    flex: 1;
}
input:focus{
    outline: none;
    border:0.5px solid rgb(5, 167, 216);
}
button{
    font-size: 1rem;
    border:none;
    border-radius: 20px;
    background-color:rgb(5, 167, 216);
    color: white;
    width: 6rem;
    height: 2rem;
}